.navContainer{
    display: flex;
    justify-content:space-around;
    padding: 0.5rem;
    background-color: black;
    font-size: 22px;
    position: fixed;
    width: 100%;
}

.navLinks{
    display: flex;
    position: relative;
    right:-3%
}
.navLinks li ,.connect li{
    padding-inline: 1rem;
}

.connect{
display: flex;
}
.navLinks li:hover{
    color: black;
    cursor: pointer;
    box-shadow: 3px 3px 2px rgb(255, 0, 0);
    background-color: aqua;
}

@media screen and (max-width: 600px) {
    
    .App{
        width: 100%;
    }
  
    .quoteWrapper {
      height: 200px;
    }
  }
  @media screen and (max-width: 600px) {
    .connect{
        position: absolute;
        scale: 0;
    }

  }
  @media screen and (max-width: 450px){
    .navContainer{
        font-size: 20px;
        justify-content: space-between;
    }
  } 