.navContainer{
    display: flex;
    justify-content:space-around;
    padding: 0.5rem;
    background-color: black;
    font-size: 22px;
    position: fixed;
    width: 100%;
}

.navLinks{
    display: flex;
    position: relative;
    right:-3%;
    
}
.navLinks li ,.connect li{
    padding-inline: 1rem;
}

.connect{
display: flex;
}
.navLinks li:hover{
    color: black;
    cursor: pointer;
    box-shadow: 3px 3px 2px rgb(255, 0, 0);
    background-color: aqua;
}
.menuBtn{
    display: none;
}
.navSmScreen{
    padding-top: 50px;
    position: absolute;
    top: -620%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    border-bottom: 1px solid grey;
    transition: 0.5s;
    left: 0;
}
.navSmScreen.active{
    
    top: 0px;
}

.navLinksSmScreen,.navLinksSmScreen li{
    padding: 10px;
}
.connectsmScreen{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.menuBtn{
    z-index: 1;
}
.homeicon{
    display: none;
}
.homeText:hover{
    transition: 0.1s;
    transform: scale(1.2);
    cursor: pointer;
}

.gitLogo, .linkedinLogo ,.mailLogo ,.whatsappLogo{
    scale: 1.2;
    transition: 0.2s;
}
.homeicon:hover{
    fill: grey; 
    transform: scale(1.2);
    cursor: pointer; 
}
.linkedinLogo:hover{
fill: rgb(51, 112, 255);
transform: scale(1.2);
cursor: pointer;
}
.gitLogo:hover,.mailLogo:hover{
    fill: grey;
    transform: scale(1.2);
    cursor: pointer;
}
.whatsappLogo:hover{
 fill: rgb(0, 180, 0);
 transform: scale(1.2);
 cursor: pointer;
}

@media screen and (max-width: 600px) {
    
    .App{
        width: 100%;
    }
  
    .quoteWrapper {
      height: 200px;
    }
    .connect{
        display: none;
    }
    .homeText{
        display: none;
    }
    .homeicon{
        display: initial;
        scale: 1.1;
    }
  }
  
  @media screen and (max-width: 450px){
    .navContainer{
        font-size: 23px;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        padding: 10px;
    }
    .navLinks{
        display: none;
    }
    .menuBtn{
        display: initial;
        position: relative;
    }
  } 