.footerContainer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-top: 0.2px solid rgba(128, 128, 128, 0.142);
}
.footerContainer h5{
    color: rgba(255, 255, 255, 0.501);
}

@media screen and (max-width:600px){
    .footerContainer h2{
        font-size: 15px;
    }
    .footerContainer h5{
        font-size: 10px;
    }
}